.videocontainer{
    display: flex;
    align-items: center;
}
.video-center{
    height: 300px;
    width: 450px;
}
.carouselvideo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 325px;
    width: 675px;
}

.historycard{
    height: 300px;
    width: 240px;
}